.button-icon-with-text {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  cursor: pointer;

  .icon {
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0;
    text-align: center;
  }

  &:hover{
    color: $lernplatform-300;
    .icon {
      color: $lernplatform-300;
    }
  }
}
