.mootimeter-field-wrapper {
  display: inline-block;
  width: 4.5rem;
}



.input-with-checkbox-icon_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .input-with-checkbox-icon {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5rem;
      margin: 0;
      text-align: center;
    }
  }
}

.mootimeter-checkbox {
  input[type=checkbox] {
    display: none !important;
  }

  label {
    span {
      margin-right: 0 !important;
    }
  }
}

.mootimeter-radio-btn {
  input[type=radio] {
    display: none !important;
  }
}
