<label for="mootimeter-checkbox" class="mootimeter-checkbox-switch-label">
    <span class="mootimeter-field-wrapper mootimeter-checkbox-switch-field-wrapper">
        <input
            type="checkbox"
            id="{{id}}_{{uniqid}}"
            class="mootimeter-checkbox-switch {{additional_class}}"
            {{checked}}
            {{dataset}}
            {{#name}}name="{{name}}"{{/name}}

			{{#ajaxmethode}}data-ajaxmethode="{{ajaxmethode}}"{{/ajaxmethode}}
			{{#pageid}}data-pageid="{{pageid}}"{{/pageid}}
			{{#name}}data-name="{{name}}"{{/name}}
        >
    </span>
    {{title}}
</label>
{{#ajaxmethode}}
{{#js}}
require(['mod_mootimeter/handler_input_checkbox_switch'], (module) => module.init("{{id}}_{{uniqid}}"));
{{/js}}
{{/ajaxmethode}}