<div class="mootimeter-header-wrapper">
    <h4>{{toolname}}</h4>
    {{#pageinvisible}}
    <span class="mootimeter-hidden-badge">
        <i class="fa fa-eye-slash"></i> {{#str}} hidden, mod_mootimeter {{/str}}
    </span>
    {{/pageinvisible}}
</div>