<div class="mootimeter-header-wrapper">
    <h4>{{toolname}}</h4>
</div>
{{#pageinvisible}}
<div class="mootimeter-page-hidden-notice">
    <i class="fa fa-eye-slash"></i> {{#str}} page_hidden_for_participants, mod_mootimeter {{/str}}
</div>
{{/pageinvisible}}