<li
    class="mootimeter_pages_li d-flex clickable {{active}} {{pageunvisible}} mootimeter_pages_li_sortable_{{uniqid}}"
    data-pageid="{{ pageid }}"
    data-cmid="{{ cmid }}"
    id="{{id}}_{{uniqid}}"
    data-uniqid="{{uniqid}}"
    {{#tooltip}} data-toggle="tooltip" data-placement="right" title="{{tooltip}}"{{/tooltip}}
    >
    {{#isediting}}
    {{#page_visibility-eye}}
    <span
        class="mootimeter_page_visibility"
        id="{{id}}"
        {{{dataset}}}
    >
        <i id="{{iconid}}" class="icon fa {{icon}} fa-light" aria-hidden="true"></i>
    </span>
    {{/page_visibility-eye}}
    <span
        class="mootimeter_page_move mootimeter_page_move_sortablehandle_{{uniqid}}"
        tabindex="0"
        role="button"
        aria-haspopup="true"
        data-drag-type="move"
        title="{{#str}} dialogue_move_pagelistelement, mod_mootimeter {{/str}}"
    >
        <i class="fa fa-arrows"></i>
    </span>
    <span
        class="mootimeter_page_delete"
        id="mootimeter_page_delete_{{pageid}}_{{uniqid}}"
        tabindex="0"
        role="button"
        data-action="deletepage"
        data-pageid="{{pageid}}"
        data-cmid="{{cmid}}"
        title="{{#str}} delete {{/str}}"
    >
        <i class="icon fa fa-trash fa-light" aria-hidden="true"></i>
    </span>
    {{/isediting}}
    <span class="mootimeter_pages_count">{{pagenumber}}</span>
    <img src="{{{ toolicon }}}" width="{{width}}" class="m-1" />
</li>

{{#js}}
    require(['mod_mootimeter/reload_page'], (module) => module.init(["{{id}}_{{uniqid}}"]));
    {{#isediting}}
    {{#page_visibility-eye}}
    require(['mod_mootimeter/toggle_state'], (module) => module.init(["{{id}}", "{{iconid}}"]));
    {{/page_visibility-eye}}
    require(['mod_mootimeter/delete_page'], (module) => module.init(["mootimeter_page_delete_{{pageid}}_{{uniqid}}"]));
    {{/isediting}}
{{/js}}