<div class="mootimetersettings mootimeterfullwidth">

    {{> mod_mootimeter/elements/snippet_settings_col_header}}

    {{#question}}
    {{> mod_mootimeter/elements/snippet_textarea}}
    {{#js}}
    require(['mod_mootimeter/reload_page_content'], (module) => module.init("{{mtm-input-id}}_{{uniqid}}"));
    {{/js}}
    {{/question}}

    {{> mod_mootimeter/elements/snippet_divider}}

    <p class="text-bold">{{#str}} heading_answer , mootimetertool_wordcloud{{/str}}</p>

    {{#maxinputsperuser}}
    {{> mod_mootimeter/elements/snippet_number_input}}
    {{/maxinputsperuser}}

    <div class="mootimeter-actions-list">
        {{#icon-eye}}
        {{> mod_mootimeter/elements/snippet_button_action}}
        {{#js}}
        require(['mod_mootimeter/toggle_state'], (module) => module.init(["{{id}}_{{uniqid}}"]));
        {{/js}}
        {{/icon-eye}}

        {{#icon-answer-overview}}
        {{> mod_mootimeter/elements/snippet_button_action}}
        {{#js}}
        require(['mod_mootimeter/reload_page'], (module) => module.init(["{{id}}_{{uniqid}}"]));
        {{/js}}
        {{/icon-answer-overview}}

        {{#icon-restart}}
        {{> mod_mootimeter/elements/snippet_button_action}}
        {{#js}}
        require(['mod_mootimeter/handle_button_clicked'], (module) => module.init(["{{id}}_{{uniqid}}"]));
        {{/js}}
        {{/icon-restart}}
    </div>

    {{#settings}}

    {{> mod_mootimeter/elements/snippet_divider}}

    <p class="text-bold">{{#str}} settings {{/str}}</p>

    {{#allowduplicateanswers}}
    {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
    {{/allowduplicateanswers}}

    {{#showonteacherpermission}}
    {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
    {{/showonteacherpermission}}

    {{#showresultlive}}
    {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
    {{/showresultlive}}

    {{#anonymousmode}}
    {{> mod_mootimeter/elements/snippet_checkbox_with_label}}
    {{/anonymousmode}}

    {{/settings}}

</div>