<table class="table mb-0" id="mtmt_wordcloud_overview_{{uniqid}}">
    <thead>
        <tr>
            <th>#</th>
            <th>{{#str}} name {{/str}}</th>
            <th class="mtmt-sortable-header" data-sort-key="answer" data-sort-dir="none">
                <button type="button" class="btn btn-link p-0 mtmt-sort-btn">
                    {{#str}} answer {{/str}}
                    <i class="icon fa fa-sort mtmt-sort-icon fa-light" aria-hidden="true"></i>
                </button>
            </th>
            <th>{{#str}} date {{/str}} / {{#str}} time {{/str}}</th>
            <th>{{#str}} options {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#answers}}
        <tr>
            <td>{{nbr}}</td>
            <td>{{userfullname}}</td>
            <td>
                {{#answer}}
                {{> core/inplace_editable}}
                {{/answer}}
            </td>
            <td>{{datetime}}</td>
            <td>
                {{#options}}
                {{> mod_mootimeter/elements/snippet_button_icon_only_rounded_with_js}}
                {{/options}}
            </td>
        </tr>
        {{/answers}}
    </tbody>
</table>

{{#hasanswergroups}}
<div class="mtmt-answer-groups p-2 bg-white">
    <div class="font-weight-bold mb-2" style="font-size: 18px;">{{#str}} answergroups, mootimetertool_wordcloud {{/str}}</div>
    <div class="mtmt-answer-groups-pills d-flex flex-wrap" style="gap: 0.5rem;">
        {{#answergroups}}
        <div class="mootimeter-pill {{additional_class}}"><span>{{pill}}</span></div>
        {{/answergroups}}
    </div>
</div>
{{/hasanswergroups}}

{{#js}}
require(['mootimetertool_wordcloud/sort_answer_overview'], function(SortAnswerOverview) {
    SortAnswerOverview.init('mtmt_wordcloud_overview_{{uniqid}}');
});
{{/js}}
